@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap');

/* VARIABLES */
:root{
    /*Cores - Set opacity to 0.5 to transparentize */
    --hue-color: 191; /* Shift Hue - Purple 250 - Green 142 - Blue 230 - Pink 340*/
    --accent-30: hsl(var(--hue-color), 80%, 35%); /* Saturation Level - Scale 20 to 80*/
    --accent-20: hsl(var(--hue-color), 62%, 52%); /* Saturation Level - Scale 20 to 80*/
    --accent-10: hsl(var(--hue-color), 40%, 90%); /* Saturation Level - Scale 20 to 80*/
    --gray-40: #889092;
    --gray-30: #adb7b9;
    --gray-20: #e4e4e4;
    --gray-10: #f0f0f0;
    --gray-0: #fff;

    /*Tipografia*/
    --size-bg: 2rem;
    --size-md: 1.2rem;
    --size-nm: 1rem;
    --size-sm: .875rem;
    --size-smx: .725rem;
    
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --lighter: 300;

    /*Espaçamento*/
    --spacing-1: .5rem;
    --spacing-2: 1rem;
    --spacing-3: 2rem;

    /*Efeitos e Animações*/
    --rounded-smx: .2rem;
    --rounded-sm: .4rem;
    --rounded-full: 50%;
    --shadow-dark: 1px 2px 4px #2d555e3b;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    letter-spacing: -0.5px;
}

a{
    text-decoration: none;
    font-size: var(--size-sm);
    font-weight: var(--semibold);
    color: var(--gray-30);
}

h2{
    font-weight: var(--bold);
    color: var(--gray-40);
    cursor: pointer;
}

h4,
p{
    font-size: var(--size-nm);
    font-weight: var(--regular);
    line-height: 160%;
    color: var(--gray-30);
}

main{
    margin: auto;
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: var(--spacing-3);
    gap: var(--spacing-3);
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.frame{
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame img{
    max-width: 100px;
    max-height: 100px;
    border-radius: var(--rounded-full);
    border: 1px solid var(--gray-10);
    opacity: 0.8;
    transition: all 0.25s ease;
}

.frame img:hover{
    transform: scale(1.25);
    border: 4px solid var(--gray-10);
    opacity: 1;
    cursor: pointer;
}

.divider{
    width: 50px;
    height: 1px;
    margin: var(--spacing-2);
    background-color: var(--accent-10);
    border: none;
}

.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-1);
}

.btn-pill{
    padding: .7rem var(--spacing-2);
}

.btn-square{
    width: 2.6rem;
    height: 2.6rem;
    padding: .7rem;
}

button{
    font-size: var(--size-sm);
    font-weight: var(--medium);
    color: var(--gray-30);
    background-color: var(--gray-0);
    border: 1px solid var(--gray-20);
    border-radius: var(--rounded-sm);
    cursor:pointer;
    transition: all 0.25s ease;
}

button:hover{
    color: var(--gray-0);
    background-color: var(--accent-20);
    border: 1px solid var(--accent-20);
    box-shadow: var(--shadow-dark);
}

button:hover i{
    color: var(--gray-0);
    font-size: var(--size-md);
}

button:hover a{
    color: var(--gray-0);
    text-decoration: none;
}

button:focus{
    outline: 4px solid var(--accent-10);
}

.badges{
    display: flex;
    justify-content: center;
    align-items: start;
    max-width: 500px;
    padding: var(--spacing-3);
    border-bottom: 1px solid var(--gray-10);
}

.badges-group{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    min-width: 250px;
    cursor: pointer;
}

.badges h4{
    min-width: 90%;
    text-align: center;
    padding-bottom: var(--spacing-1);
    font-size: var(--size-sm);
    font-weight: var(--medium);
    color: var(--gray-40);
}

.badges span{
    margin: .1rem;
    padding: .2rem;
    font-size: var(--size-smx);
    font-weight: var(--medium);
    color: var(--accent-30);
    background-color: var(--accent-10);
    border: 1px solid var(--accent-30);
    border-radius: var(--rounded-smx);
    opacity: 0.5;
}

.badges span:hover{
    opacity: 1;
}

.links{
    font-size: var(--size-sm);
    font-weight: var(--regular);
}

.links:hover{
    text-decoration: underline;
    font-weight: var(--medium);
    color: var(--gray-40);
}

.notes{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-3);
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-2);
    padding-bottom: var(--spacing-3);
    cursor: pointer;
}

@media screen and (max-width: 800px){
    
    main{
        padding: 0;
    }

    .bio p,
    .badges-group{
        max-width: 250px;
    }

    .badges{
        padding: 0;
        flex-direction: column;
        gap: 2rem;
    }

    .footer{
        max-width: 300px;
        margin-inline: auto;
        padding-top: var(--spacing-2);
        padding-bottom: var(--spacing-2);
    }
}